@import 'tailwindcss';
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: 'aqua';
  default: true;
  /* --color-primary: blue;
  --color-secondary: teal; */
}

#maxxhashbg {
  background: url('../public/background.png') repeat;
}
